In [5]:
# take a user input as a integer, use the nested if-else statment to determine and print whether the number is:
#+ve and even
# -ve and odd
# -ve
#zero

num = int(input("Enter an integer: "))

if num > 0:
    if num % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
elif num < 0:
    if num % 2 == 0:
        print("The number is negative and even.")
    else:
        print("The number is negative and odd.")
else:
    print("The number is zero.")

Enter an integer:  -7

The number is negative and odd.

In [1]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [5]:
a=[2.2,3.33,23,45]
print(a)

[2.2, 3.33, 23, 45]

In [7]:
a=['a','n','u']
print(a)

['a', 'n', 'u']

In [9]:
d=['apple','banana','orange']
print(d)

['apple', 'banana', 'orange']

In [11]:
a=[[1,2],['a','b']]
print(a)

[[1, 2], ['a', 'b']]

In [13]:
for i in range(4):
    print("*"*4)

****
****
****
****

In [29]:
for i in range(4):
    for j in range(4-i):
        print(" ",end="")
    print("*"*4)

    ****
   ****
  ****
 ****

In [57]:
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end="")
        for k in range(1, 2*i):
            print("*", end="")
        print()

 *
 *
 *
 ***
 ***
 *****

In [47]:
for i in range(1, 6):
    for j in range(5 - i): 
        print(" ", end=" ")
    for k in range(i):   
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [55]:
n=4
for i in range(n):
    print(" "*i+"*"*n)

****
 ****
  ****
   ****

In [29]:
n=4
for i in range(n+1):
    for j in range(1,n+1):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *
* * * *

In [3]:
n = 10
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j==0 or j==n-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [1]:
n=4
for i in range(n+1):
    for j in range(1,n+1):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *
* * * *

In [5]:
n = 4
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j==0 or j==n-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

****
*  *
*  *
****