In [7]:
#Tuple

#Creating Tuple
empty_tuple= ()
print(empty_tuple) #tuple with zero elements

()

In [9]:
value_tuple =26,45,32
print(value_tuple)

(26, 45, 32)

In [11]:
value_tuple= (26,45,'hello')
print(value_tuple)

(26, 45, 'hello')

In [15]:
tuple=('hello',)
print(tuple)

('hello',)

In [19]:
#tuple is immutable(value cannot be changed)
value_tuple =(26,5,'hello')
value_tuple[1]=7
print(value_tuple)

TypeError: 'tuple' object does not support item assignment

In [27]:
#concateation (+)
value1= (26,45,'hello')
value2= (7,5.6,"python")
print(value1+value2)
print(value2+value1)

(26, 45, 'hello', 7, 5.6, 'python')
(7, 5.6, 'python', 26, 45, 'hello')

In [29]:
# Nesting of tuple
value1= (26,45,'hello')
value2= (7,5.6,"python")
value3=value1,value2
print(value3)

((26, 45, 'hello'), (7, 5.6, 'python'))

In [31]:
# Repetition in tuple
value = (26,45,'hello')*2
print(value)

(26, 45, 'hello', 26, 45, 'hello')

In [39]:
#Accessing Values in Python Tuples
value = (26,45,'hello',7.5)
print(value[3])

7.5

In [41]:
#Slicing Tuples in Python
#Slicing a Python tuple means dividing a tuple into small tuples using the indexing method.
value = (26,45,'hello',7.5)
print(value[0:])

(26, 45, 'hello', 7.5)

In [43]:
value = (26,45,'hello',7.5)
print(value[2:])

('hello', 7.5)

In [45]:
value = (26,45,'hello',7.5)
print(value[:3])

(26, 45, 'hello')

In [53]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[:7])

(26, 45, 'hello', 7.5, 'z', 5, 6.9)

In [55]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[-4:])

(7.5, 'z', 5, 6.9)

In [1]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[:-1])

(26, 45, 'hello', 7.5, 'z', 5)

In [3]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[::-1])

(6.9, 5, 'z', 7.5, 'hello', 45, 26)

In [59]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[::-2])

(6.9, 'z', 'hello', 26)

In [61]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[1::1])

(45, 'hello', 7.5, 'z', 5, 6.9)

In [63]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[1::3])

(45, 'z')

In [65]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[-1::-2])

(6.9, 'z', 'hello', 26)

In [67]:
value = (26,45,'hello',7.5,'z',5,6.9)
print(value[1:6:2])

(45, 7.5, 5)

In [77]:
#deleting tuple (del - keyword)
value1_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value1_tuple)
value2_tuple =(34,45,'python',89,'x',5.5,9)
print(value2_tuple)
del(value1_tuple)

(26, 45, 'hello', 7.5, 'z', 5, 6.9)
(34, 45, 'python', 89, 'x', 5.5, 9)

In [1]:
#looping

tuple =('hello')
n=3
for i in range(int(n)):
    tuple=(tuple,)
    print(tuple)

('hello',)
(('hello',),)
((('hello',),),)

In [1]:
#built in function
tuple =('developer',5,8.9,'r',8)              # len
print(len(tuple))

5

In [3]:
tuple = (9,5,89,4,8)
print(max(tuple))                            #max

89

In [5]:
tuple = (9,5,89,4,8)
print(min(tuple))                        #min

4

In [7]:
tuple = (9,5,89,4,8)
print(sum(tuple))                    #sum

115

In [9]:
tuple = (9,5,89,4,8)
print(sorted(tuple))                  #sorted

[4, 5, 8, 9, 89]

In [11]:
tuple =(0,1)
print(any(tuple))                        # any

True

In [13]:
tuple =(0,)
print(any(tuple))

False

In [15]:
tuple=()
print(any(tuple))

False

In [17]:
tuple =(4,1)                            #all
print(all(tuple))

True

In [19]:
tuple =(0,5,7)
print(all(tuple))

False

In [29]:
tuple =()
print(all(tuple))

True

In [33]:
# Predict the output
tuple =("apple","byte","computer")
for i in tuple:
    print(i)

apple
byte
computer

In [23]:
tuple =("apple","byte","computer")
n=2
for i in range(n):
    print(tuple[i])

apple
byte

In [25]:
tuple =("apple","byte","computer")
n=2
for i in range(n):
    print(tuple[i])
    break

apple

In [39]:
tuple =(3,7,'p','y','z',9.5,'y')
print(tuple.count('y'))
print(tuple.count(7))
print(tuple.count(9))

2
1
0